.Cell {
    display: flex;
    width: 7px;
    height: 7px;
    padding: 2px;
    border-top: 2px solid rgb(252, 252, 252);
    border-left: 2px solid rgb(252, 252, 252);
    border-right: 2px solid rgb(117, 117, 117);
    border-bottom: 2px solid rgb(117, 117, 117);
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.cover {
    visibility: hidden;
}

.uncover{
    background-color: rgb(185, 185, 185);
    border: 0.5px solid rgb(123, 123, 123);
    width: 10px;
    height: 10px;
}

.boom{
    background-color: rgb(255, 0, 0);
}

.Cell img {
    padding-bottom: 2px;
    width: 10px;
    height: 10px;
}

.one {
    color: rgb(0, 0, 255);
}

.two{
    color: rgb(0, 123, 0);
}

.three{
    color: rgb(255, 0, 0);
}

.four{
    color: rgb(0, 0, 123);
}

.five{
    color: rgb(123, 0, 0);
}

.six{
    color: rgb(0, 123, 123);
}

.seven{
    color: rgb(0, 0, 0);
}

.eight{
    color: rgb(123, 123, 123);
}
