.Field-grid{
    background-color: rgb(167, 167, 167);
    border: 5px solid rgb(123, 123, 123);
    width: fit-content;   
    margin: 0 auto; 
}

.Menu-mines, .Menu-face, .Menu-timer{
    display: inline-block;
}

.Menu-mines, .Menu-timer{
    background-color: black;
    border: 2px solid gray;
    color: red;
}

.Field-menu{
    background-color: lightsteelblue;
    border: 2px solid black;
    width: fit-content; 
    margin: 0 auto;
}

.Field-row {
    display: flex;
    flex-direction: row;

}